/* --- HEADER --- */
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

.wrapper {
  margin: 0px 40px 0px 40px;
}
a {
  text-decoration: none;
  color: inherit;
}
header nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.nav-title {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.displaysearchlogo {
  display: none;
}

.hebergementsborder {
  border-top: 5px solid #0065fc;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.black {
  color: black;
}
.bold {
  font-weight: bold;
}
.hebergements {
  height: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.m40t {
  margin-top: 40px;
}
.m40l {
  margin-left: 40px;
}

header nav div h2 {
  color: #0065fc;
  font-size: 14px;
  font-weight: 400;
}

.block-afternav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.block-afternav-description h3 {
  font-size: 20px;
  font-weight: 600;
}
.block-afternav-description p {
  font-size: 14px;
  font-weight: 300;
}
.block-afternav-pointer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 400px;
  height: 50px;
  border-radius: 20px;
  overflow: hidden;
}

.icon-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  width: 50px;
}
.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #0065fc;
  color: white;
  font-weight: 400;
}

.input-search {
  width: 220px;
  box-shadow: none;
  font-size: 14px;
  padding-left: 10px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  border-style: solid none solid none;
}
.block-afternav-filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px 20px 0px;
}

.block-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  margin-left: 10px;
}
.block-filter p:hover {
  text-decoration: underline;
  color: green;
}
.icon-bill {
  width: 50px;
  height: 50px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50%;
  border: 2px solid #deebff;
}
.block-afternav-filter p {
  font-weight: 600;
  margin-right: 15px;
}

.block-filter-description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
.block-afternav-knows {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.block-afternav-knows p {
  font-size: 14px;
  font-weight: 300;
}

.icon-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  border: 1px solid #deebff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.block-afternav-info-description {
  font-size: 14px;
  margin-left: 10px;
}

/* ------------------ MID PART ------------------ */
.block-mid {
  width: 100%;
  height: 1400px;
  margin: 40px 0px 40px 0px;
}
.block-mid-part1 {
  width: 100%;
  height: calc(55% - 50px);
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block-mid-houses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 68%;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.showmore {
  font-size: 18px;
  font-weight: 600;
}
.block-mid-houses-first-container {
  margin: 0px 60px 30px 60px;
}
.block-mid-houses-first-container h2 {
  margin-bottom: 50px;
}

.block-mid-houses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block-mid-houses-house {
  background-color: white;
  width: 300px;
  height: 220px;
  border-radius: 20px;
  box-shadow: 0 0 5px #ccc;
  margin-bottom: 20px;
  margin-top: 10px;
  overflow: hidden;
  padding: 5px;
}
.block-mid-houses-house-upper {
  width: 100%;
  height: 55%;
}
.margin10 {
  margin: 10px;
}
.price {
  font-weight: bold;
}
.blue {
  color: #0065fc;
}
.grey {
  color: rgb(211, 211, 211);
}
.img-hebergements {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.block-mid-houses-house-popular {
  display: flex;
  background-color: white;
  width: 100%;
  height: 170px;
  border-radius: 20px;
  box-shadow: 0 0 5px #ccc;
  margin-bottom: 20px;
  margin-top: 10px;
}
.block-mid-houses-house-popular-img {
  width: 40%;
  height: 100%;
  padding: 5px;
}
.img-popular {
  width: calc(100% - 5px);
  height: calc(100% - 10px);
  overflow: hidden;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.block-mid-houses-house-popular-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  margin-left: 10px;
}
.block-mid-popular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 28%;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.block-mid-popular-container {
  margin: 40px;
}

.block-mid-popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-mid-part2 {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
}

.block-activites {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.block-activites-left {
  display: flex;
  justify-content: space-between;
  width: calc(50% - 30px);
  height: 100%;
  margin-right: 30px;
}

.block-activites-right {
  display: flex;
  justify-content: space-between;
  width: calc(50% - 30px);
  height: 100%;
  margin-left: 30px;
}
.block-mid-activities-activity {
  background-color: white;
  width: 300px;
  height: 220px;
  border-radius: 20px;
  box-shadow: 0 0 5px #ccc;
}

.block-mid-activities-activity-big {
  display: flex;
  flex-direction: column;
  background-color: white;
  /* width: calc(50% - 30px); */
  height: calc(100% - 60px);
  border-radius: 20px;
  box-shadow: 0 0 5px #ccc;
  margin: 30px 30px 30px 0px;
}

.block-mid-activities-activity-big-pic {
  height: 90%;
  width: 100%;
}
.img-activity-big-pic {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.block-mid-activities-activity-big-description {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
.block-mid-activities-activity-twice {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: calc(50% - 30px);
  height: calc(100% - 60px);
  margin: 30px 0px 30px 30px;
}

.block-mid-activities-activity-twice-semibig-pic {
  height: 80%;
  width: 100%;
}
.block-mid-activities-activity-twice-semibig-description {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
.block-mid-activities-activity-semibig {
  background-color: white;
  width: 100%;
  height: calc(60% - 30px);
  border-radius: 20px;
  box-shadow: 0 0 5px #ccc;
  margin-bottom: 30px;
}
.block-mid-activities-activity-little {
  background-color: white;
  width: 100%;
  height: 35%;
  border-radius: 20px;
  box-shadow: 0 0 5px #ccc;
}
.block-mid-activities-activity-twice-little-pic {
  height: 70%;
  width: 100%;
}
.block-mid-activities-activity-twice-little-description {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
.block-activites-secondpart {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: calc(50% - 30px);
  height: calc(100% - 60px);
  margin: 30px 0px 30px 30px;
}
.block-mid-activities-activity-medium {
  background-color: white;
  width: 100%;
  height: 45%;
  border-radius: 20px;
  box-shadow: 0 0 5px #ccc;
}

.block-mid-activities-activity-medium-pic {
  height: 75%;
  width: 100%;
}
.block-mid-activities-activity-medium-description {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
/* ------------------ FOOTER ------------------ */

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  height: 150px;
  background-color: #f2f2f2;
  margin-top: 100px;
}
.footer h2 {
  font-size: 12px;
}

.footer p {
  font-size: 10px;
  margin-bottom: 2px;
}

.footer-content {
  display: flex;
  justify-content: stretch;
  margin: 20px 40px 20px 40px;
}

.centerleft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 160px;
}

/* RESPONSIVE */

/* Ipad */

@media (min-width: 768px) and (max-width: 1024px) {
  .block-mid-houses-house {
    width: 240px;
    height: 200px;
  }
  .block-afternav-filter {
    flex-wrap: wrap;
  }
  .block-filter {
    margin: 10px;
  }
  .block-mid-part1 {
    width: 100%;
    flex-direction: column;
  }
  .block-mid-houses {
    width: 100%;
  }
  .block-mid-popular {
    margin-top: 50px;
    width: 100%;
  }
  .block-mid {
    height: 100%;
  }
  .footer {
    height: 30vh;
  }
  .centerleft {
    margin-right: 80px;
  }
  .block-activites h3 {
    font-size: 14px;
  }
  .block-activites {
    flex-direction: column;
  }
  .block-activites-left {
    width: 100%;
  }
  .block-activites-right {
    width: 100%;
    margin-left: 0px;
  }
  .block-activites-secondpart {
    height: auto;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  /* Iphone */
  .displaysearch {
    display: none;
  }
  .wrapper {
    margin: 0px;
  }

  .displaysearchlogo {
    display: inline;
  }
  .block-mid-houses-house {
    width: calc(100% - 20px);
    height: 210px;
  }

  .block-afternav-filter {
    flex-wrap: wrap;
    margin: 20px;
  }
  .block-mid-part2 {
    display: flex;
    justify-content: center;
  }
  .titleactivity {
    margin-left: 20px;
  }
  .block-mid-activities-activity-big {
    width: calc(100% - 40px);
  }
  .block-mid-activities-activity-twice {
    width: calc(100% - 40px);
    margin: 0px;
  }
  .block-afternav-knows {
    margin: 20px;
  }
  .block-filter {
    margin: 10px;
  }
  .block-mid-part1 {
    width: 100%;
    flex-direction: column-reverse;
  }
  .block-mid-houses {
    width: 100%;
    border-radius: 0px;
    background-color: white;
  }
  .block-mid-popular {
    margin-top: 50px;
    width: 100%;
    border-radius: 0px;
  }
  .block-mid-houses-first-container {
    margin: 0px 20px 30px 20px;
  }
  .block-mid-houses-first-container h2 {
    margin-bottom: 20px;
  }
  .block-mid {
    height: 100%;
  }
  .footer {
    height: 450px;
  }
  .footer p {
    font-size: 14px;
  }
  .footer h2 {
    font-size: 17px;
  }
  .footer-content {
    flex-direction: column;
  }
  .centerleft {
    margin-right: 80px;
  }
  .block-activites h3 {
    font-size: 14px;
  }
  .block-activites {
    flex-direction: column;
    margin-left: 20px;
    width: auto;
  }
  .block-activites-left {
    width: 100%;
    flex-direction: column;
    margin-right: 0px;
  }
  .block-activites-right {
    width: 100%;
    margin-left: 0px;
    flex-direction: column;
  }
  .block-activites-secondpart {
    height: auto;
    width: 100%;
    margin: 0px;
  }
  header nav {
    flex-direction: column;
  }
  .m40t {
    margin-bottom: 20px;
  }
  .nav-title {
    justify-content: space-around;
  }
  .m40l {
    margin-left: 0px;
    width: 100%;
  }
  .hebergementsborder {
    border-bottom: 3px solid #0065fc;
    border-top: 0px solid #0065fc;
    height: 100%;
    margin-top: 5px;
  }
  .block-afternav {
    margin: 20px 20px 20px 20px;
  }
  .block-afternav-pointer {
    width: 300px;
  }
  .input-search {
    width: 180px;
  }
  .search-button {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .block-mid-activities-activity-medium {
    width: calc(100% - 40px);
    margin-bottom: 30px;
  }
  .img-activity-big-pic {
    height: 200px;
  }
}
